[Unit]
Description=All module writer instances of {{ detector }}

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /home/dbe/service_scripts/{{ detector }}-buffer_writer-worker.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

