[Unit]
Description=All dap workers for {{ detector }} detector

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /home/dbe/service_scripts/{{ detector }}-dap_worker.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

