[Unit]
Description=All sf-daq_writers detector writers (retrieve and conversion)

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /home/dbe/service_scripts/sf-daq_detector_retrieve_writer.start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

