[Unit]
Description=SF DAQ detector writer

[Service]
User=root
ExecStart=/bin/bash ./home/dbe/service_scripts/sf-daq_detector_retrieve_writer.start.sh %i
TimeoutStartSec=2
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
