[Unit]
Description=SF DAQ detector actions(pedestal, power-on) worker

[Service]
User=root
ExecStart=/bin/bash ./home/dbe/service_scripts/sf-daq_detector_actions.start.sh %i
TimeoutStartSec=2
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
