[Unit]
Description=stream service to streamvis of {{ detector }}

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/{{ detector }}-stream2vis.sh
TimeoutStartSec=10
Restart=on-failure
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

