[Unit]
Description=streamvis: {{ detector }}

[Service]
User=root
TimeoutStartSec=2
ExecStart=/bin/bash ./home/dbe/service_scripts/{{ detector }}-vis.sh
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target

