[Unit]
Description={{ detector }} UDP receiver worker instance as a service, instance %i
Requires={{ detector }}-udp_recv.service
Before={{ detector }}-udp_recv.service
BindsTo={{ detector }}-udp_recv.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/{{ detector }}-udp_recv-worker.sh %i
TimeoutStartSec=10
RestartSec=1

[Install]
WantedBy={{ detector }}-udp_recv.service

