detsize 1024 1536
hostname JF1M5B-01+JF1M5B-02+JF1M5B-03+

udp_dstmac 98:f2:b3:d4:5f:d0
udp_dstip 10.30.10.7

0:udp_dstport 50010
0:udp_srcip 10.30.10.10
0:udp_srcmac 00:aa:bb:cc:dd:33

1:udp_dstport 50011
1:udp_srcip 10.30.10.11
1:udp_srcmac 00:aa:bb:cc:dd:44

2:udp_dstport 50012
2:udp_srcip 10.30.10.12
2:udp_srcmac 00:aa:bb:cc:dd:55

#with more than 4 modules we need time multiplexing.
0:txndelay_frame 9
1:txndelay_frame 9
2:txndelay_frame 9
#3 modules per 1 ms slot (30Gbit/s max bw)


delay 0.001990

triggers 1000
timing trigger
frames 1

temp_threshold 55
temp_control 1


