detsize 1024 4608
hostname JF4M5-01+JF4M5-02+JF4M5-03+JF4M5-04+JF4M5-05+JF4M5-06+JF4M5-07+JF4M5-08+JF4M5-09+

#sf-daq-4
udp_dstmac 9c:dc:71:4d:2a:b5
udp_dstip 10.30.20.6

#sf-daq-8
#udp_dstmac b8:83:03:6e:de:9c
#udp_dstip 10.30.20.9

0:udp_dstport 50020
0:udp_srcip 10.30.20.20
0:udp_srcmac 00:aa:bb:cc:dd:30

1:udp_dstport 50021
1:udp_srcip 10.30.20.21
1:udp_srcmac 00:aa:bb:cc:dd:31

2:udp_dstport 50022
2:udp_srcip 10.30.20.22
2:udp_srcmac 00:aa:bb:cc:dd:32

3:udp_dstport 50023
3:udp_srcip 10.30.20.23
3:udp_srcmac 00:aa:bb:cc:dd:33

4:udp_dstport 50024
4:udp_srcip 10.30.20.24
4:udp_srcmac 00:aa:bb:cc:dd:34

5:udp_dstport 50025
5:udp_srcip 10.30.20.25
5:udp_srcmac 00:aa:bb:cc:dd:35

6:udp_dstport 50026
6:udp_srcip 10.30.20.26
6:udp_srcmac 00:aa:bb:cc:dd:36

7:udp_dstport 50027
7:udp_srcip 10.30.20.27
7:udp_srcmac 00:aa:bb:cc:dd:37

8:udp_dstport 50028
8:udp_srcip 10.30.20.28
8:udp_srcmac 00:aa:bb:cc:dd:38

# use last two time slots (first 8 is occupied by 16M, but 4p5M will not be running together with full 16M yet). For 100Hz we can use 10 time slots. 
# for 40G link (currently bottleneck at daq machines) - 4 modules/slot. With 100G - 8 modules/time slot
0:txndelay_frame 7
1:txndelay_frame 7
2:txndelay_frame 7
3:txndelay_frame 7
4:txndelay_frame 8
5:txndelay_frame 8
6:txndelay_frame 8
7:txndelay_frame 8
8:txndelay_frame 9

triggers 10000
frames 1  
timing trigger
delay 0.001989
#delay 1989us

dac vb_comp 2220

# DAQ comparator reset
setbit 0x5d 4 

# Temperature 
temp_threshold 45
temp_control 1
# to clear event : temp_event 0
