detsize 1024 512
hostname JF0M5B-I0-01+

#udp_dstmac 98:f2:b3:d4:5f:d0
#udp_dstip  10.30.10.7
#sf-daq-8
udp_dstmac b8:83:03:6e:de:9c
udp_dstip 10.30.20.9

0:udp_dstport 50030
#0:udp_srcip 10.30.10.53
0:udp_srcip 10.30.20.53
0:udp_srcmac 00:aa:bb:cc:dd:66

0:txndelay_frame 8

delay 0.001990

triggers 1000
timing trigger
frames 1

temp_threshold 55
temp_control 1



