hostname JF0M5B-FL-01+

detsizechan 1024 512

rx_udpmac 98:f2:b3:d4:5f:d0
rx_udpip 10.30.10.7

0:rx_udpport 50040
0:detectorip 10.30.10.54
0:detectormac 00:aa:bb:cc:dd:77
0:configuremac 0

#with more than 4 modules we need time multiplexing.
0:txndelay_frame 1
#3 modules per 1 ms slot (30Gbit/s max bw)


delay 0.001990

timing trigger
frames 1
cycles 1000
powerchip 1
vhighvoltage 120

temp_threshold 55
temp_control 1
