detsizechan 1024 16384
hostname jf16ma-00+jf16ma-01+jf16ma-02+jf16ma-03+jf16ma-04+jf16ma-05+jf16ma-06+jf16ma-07+jf16ma-08+jf16ma-09+jf16ma-10+jf16ma-11+jf16ma-12+jf16ma-13+jf16ma-14+jf16ma-15+jf16ma-16+jf16ma-17+jf16ma-18+jf16ma-19+jf16ma-20+jf16ma-21+jf16ma-22+jf16ma-23+jf16ma-24+jf16ma-25+jf16ma-26+jf16ma-27+jf16ma-28+jf16ma-29+jf16ma-30+jf16ma-31+

#workaround for 4.0.1 version
reg 7c 0

#sf-daq-4:
#rx_udpmac 9c:dc:71:4d:2a:b4
#rx_udpip 10.30.20.6

#sf-daq-7:
#rx_udpmac b8:83:03:78:ee:c0
#rx_udpip 10.30.20.8

#sf-daq-3
#rx_udpmac 98:f2:b3:d4:5f:d0
#rx_udpip 10.30.10.7

#sf-daq-8
rx_udpmac b8:83:03:6e:de:9c
rx_udpip 10.30.20.9

#sf-daq-9
#rx_udpmac 04:09:73:e1:cf:a0
#rx_udpip 10.30.20.101

0:rx_udpport 50060
0:detectorip 10.30.20.60
0:detectormac cc:cc:cc:dd:ee:f0
0:configuremac 0

1:rx_udpport 50061
1:detectorip 10.30.20.61
1:detectormac cc:cc:cc:dd:ee:f1
1:configuremac 0

2:rx_udpport 50062
2:detectorip 10.30.20.62
2:detectormac cc:cc:cc:dd:ee:f2
2:configuremac 0

3:rx_udpport 50063
3:detectorip 10.30.20.63
3:detectormac cc:cc:cc:dd:ee:f3
3:configuremac 0

4:rx_udpport 50064
4:detectorip 10.30.20.64
4:detectormac cc:cc:cc:dd:ee:f4
4:configuremac 0

5:rx_udpport 50065
5:detectorip 10.30.20.65
5:detectormac cc:cc:cc:dd:ee:f5
5:configuremac 0

6:rx_udpport 50066
6:detectorip 10.30.20.66
6:detectormac cc:cc:cc:dd:ee:f6
6:configuremac 0

7:rx_udpport 50067
7:detectorip 10.30.20.67
7:detectormac cc:cc:cc:dd:ee:f7
7:configuremac 0

8:rx_udpport 50068
8:detectorip 10.30.20.68
8:detectormac cc:cc:cc:dd:ee:f8
8:configuremac 0

9:rx_udpport 50069
9:detectorip 10.30.20.69
9:detectormac cc:cc:cc:dd:ee:f9
9:configuremac 0

10:rx_udpport 50070
10:detectorip 10.30.20.70
10:detectormac cc:cc:cc:dd:ee:fa
10:configuremac 0

11:rx_udpport 50071
11:detectorip 10.30.20.71
11:detectormac cc:cc:cc:dd:ee:fb
11:configuremac 0

12:rx_udpport 50072
12:detectorip 10.30.20.72
12:detectormac cc:cc:cc:dd:ee:fc
12:configuremac 0

13:rx_udpport 50073
13:detectorip 10.30.20.73
13:detectormac cc:cc:cc:dd:ee:fe
13:configuremac 0

14:rx_udpport 50074
14:detectorip 10.30.20.74
14:detectormac cc:cc:cc:dd:ee:ff
14:configuremac 0

15:rx_udpport 50075
15:detectorip 10.30.20.75
15:detectormac cc:cc:cc:dd:ee:e0
15:configuremac 0

16:rx_udpport 50076
16:detectorip 10.30.20.76
16:detectormac cc:cc:cc:dd:ee:e1
16:configuremac 0

17:rx_udpport 50077
17:detectorip 10.30.20.77
17:detectormac cc:cc:cc:dd:ee:e2
17:configuremac 0

18:rx_udpport 50078
18:detectorip 10.30.20.78
18:detectormac cc:cc:cc:dd:ee:e3
18:configuremac 0

19:rx_udpport 50079
19:detectorip 10.30.20.79
19:detectormac cc:cc:cc:dd:ee:e4
19:configuremac 0

20:rx_udpport 50080
20:detectorip 10.30.20.80
20:detectormac cc:cc:cc:dd:ee:e5
20:configuremac 0

21:rx_udpport 50081
21:detectorip 10.30.20.81
21:detectormac cc:cc:cc:dd:ee:e6
21:configuremac 0

22:rx_udpport 50082
22:detectorip 10.30.20.82
22:detectormac cc:cc:cc:dd:ee:e7
22:configuremac 0

23:rx_udpport 50083
23:detectorip 10.30.20.83
23:detectormac cc:cc:cc:dd:ee:e8
23:configuremac 0

24:rx_udpport 50084
24:detectorip 10.30.20.84
24:detectormac cc:cc:cc:dd:ee:e9
24:configuremac 0

25:rx_udpport 50085
25:detectorip 10.30.20.85
25:detectormac cc:cc:cc:dd:ee:ea
25:configuremac 0

26:rx_udpport 50086
26:detectorip 10.30.20.86
26:detectormac cc:cc:cc:dd:ee:eb
26:configuremac 0

27:rx_udpport 50087
27:detectorip 10.30.20.87
27:detectormac cc:cc:cc:dd:ee:ec
27:configuremac 0

28:rx_udpport 50088
28:detectorip 10.30.20.88
28:detectormac cc:cc:cc:dd:ee:ee
28:configuremac 0

29:rx_udpport 50089
29:detectorip 10.30.20.89
29:detectormac cc:cc:cc:dd:ee:ef
29:configuremac 0

30:rx_udpport 50090
30:detectorip 10.30.20.90
30:detectormac cc:cc:cc:dd:ee:d0
30:configuremac 0

31:rx_udpport 50091
31:detectorip 10.30.20.91
31:detectormac cc:cc:cc:dd:ee:d1
31:configuremac 0

cycles 10000
frames 1
timing trigger
delay 0.001989

# first 8 time slots for 16M detector
0:txndelay_frame 0
1:txndelay_frame 0
2:txndelay_frame 0
3:txndelay_frame 0
4:txndelay_frame 1
5:txndelay_frame 1
6:txndelay_frame 1
7:txndelay_frame 1
8:txndelay_frame 2
9:txndelay_frame 2
10:txndelay_frame 2
11:txndelay_frame 2
12:txndelay_frame 3
13:txndelay_frame 3
14:txndelay_frame 3
15:txndelay_frame 3
16:txndelay_frame 4
17:txndelay_frame 4
18:txndelay_frame 4
19:txndelay_frame 4
20:txndelay_frame 5
21:txndelay_frame 5
22:txndelay_frame 5
23:txndelay_frame 5
24:txndelay_frame 6
25:txndelay_frame 6
26:txndelay_frame 6
27:txndelay_frame 6
28:txndelay_frame 7
29:txndelay_frame 7
30:txndelay_frame 7
31:txndelay_frame 7

temp_threshold 45
temp_control 1

