detsize 1024 16384
hostname jf16ma-00+jf16ma-01+jf16ma-02+jf16ma-03+jf16ma-04+jf16ma-05+jf16ma-06+jf16ma-07+jf16ma-08+jf16ma-09+jf16ma-10+jf16ma-11+jf16ma-12+jf16ma-13+jf16ma-14+jf16ma-15+jf16ma-16+jf16ma-17+jf16ma-18+jf16ma-19+jf16ma-20+jf16ma-21+jf16ma-22+jf16ma-23+jf16ma-24+jf16ma-25+jf16ma-26+jf16ma-27+jf16ma-28+jf16ma-29+jf16ma-30+jf16ma-31+

udp_dstmac b8:83:03:6e:de:9c
udp_dstip 10.30.20.9

0:udp_dstport 50060
0:udp_srcip 10.30.20.60
0:udp_srcmac cc:cc:cc:dd:ee:f0

1:udp_dstport 50061
1:udp_srcip 10.30.20.61
1:udp_srcmac cc:cc:cc:dd:ee:f1

2:udp_dstport 50062
2:udp_srcip 10.30.20.62
2:udp_srcmac cc:cc:cc:dd:ee:f2

3:udp_dstport 50063
3:udp_srcip 10.30.20.63
3:udp_srcmac cc:cc:cc:dd:ee:f3

4:udp_dstport 50064
4:udp_srcip 10.30.20.64
4:udp_srcmac cc:cc:cc:dd:ee:f4

5:udp_dstport 50065
5:udp_srcip 10.30.20.65
5:udp_srcmac cc:cc:cc:dd:ee:f5

6:udp_dstport 50066
6:udp_srcip 10.30.20.66
6:udp_srcmac cc:cc:cc:dd:ee:f6

7:udp_dstport 50067
7:udp_srcip 10.30.20.67
7:udp_srcmac cc:cc:cc:dd:ee:f7

8:udp_dstport 50068
8:udp_srcip 10.30.20.68
8:udp_srcmac cc:cc:cc:dd:ee:f8

9:udp_dstport 50069
9:udp_srcip 10.30.20.69
9:udp_srcmac cc:cc:cc:dd:ee:f9

10:udp_dstport 50070
10:udp_srcip 10.30.20.70
10:udp_srcmac cc:cc:cc:dd:ee:fa

11:udp_dstport 50071
11:udp_srcip 10.30.20.71
11:udp_srcmac cc:cc:cc:dd:ee:fb

12:udp_dstport 50072
12:udp_srcip 10.30.20.72
12:udp_srcmac cc:cc:cc:dd:ee:fc

13:udp_dstport 50073
13:udp_srcip 10.30.20.73
13:udp_srcmac cc:cc:cc:dd:ee:fe

14:udp_dstport 50074
14:udp_srcip 10.30.20.74
14:udp_srcmac cc:cc:cc:dd:ee:ff

15:udp_dstport 50075
15:udp_srcip 10.30.20.75
15:udp_srcmac cc:cc:cc:dd:ee:e0

16:udp_dstport 50076
16:udp_srcip 10.30.20.76
16:udp_srcmac cc:cc:cc:dd:ee:e1

17:udp_dstport 50077
17:udp_srcip 10.30.20.77
17:udp_srcmac cc:cc:cc:dd:ee:e2

18:udp_dstport 50078
18:udp_srcip 10.30.20.78
18:udp_srcmac cc:cc:cc:dd:ee:e3

19:udp_dstport 50079
19:udp_srcip 10.30.20.79
19:udp_srcmac cc:cc:cc:dd:ee:e4

20:udp_dstport 50080
20:udp_srcip 10.30.20.80
20:udp_srcmac cc:cc:cc:dd:ee:e5

21:udp_dstport 50081
21:udp_srcip 10.30.20.81
21:udp_srcmac cc:cc:cc:dd:ee:e6

22:udp_dstport 50082
22:udp_srcip 10.30.20.82
22:udp_srcmac cc:cc:cc:dd:ee:e7

23:udp_dstport 50083
23:udp_srcip 10.30.20.83
23:udp_srcmac cc:cc:cc:dd:ee:e8

24:udp_dstport 50084
24:udp_srcip 10.30.20.84
24:udp_srcmac cc:cc:cc:dd:ee:e9

25:udp_dstport 50085
25:udp_srcip 10.30.20.85
25:udp_srcmac cc:cc:cc:dd:ee:ea

26:udp_dstport 50086
26:udp_srcip 10.30.20.86
26:udp_srcmac cc:cc:cc:dd:ee:eb

27:udp_dstport 50087
27:udp_srcip 10.30.20.87
27:udp_srcmac cc:cc:cc:dd:ee:ec

28:udp_dstport 50088
28:udp_srcip 10.30.20.88
28:udp_srcmac cc:cc:cc:dd:ee:ee

29:udp_dstport 50089
29:udp_srcip 10.30.20.89
29:udp_srcmac cc:cc:cc:dd:ee:ef

30:udp_dstport 50090
30:udp_srcip 10.30.20.90
30:udp_srcmac cc:cc:cc:dd:ee:d0

31:udp_dstport 50091
31:udp_srcip 10.30.20.91
31:udp_srcmac cc:cc:cc:dd:ee:d1

delay 0.001989

0:txndelay_frame 0
1:txndelay_frame 0
2:txndelay_frame 0
3:txndelay_frame 0
4:txndelay_frame 0
5:txndelay_frame 1
6:txndelay_frame 1
7:txndelay_frame 1
8:txndelay_frame 1
9:txndelay_frame 1
10:txndelay_frame 2
11:txndelay_frame 2
12:txndelay_frame 2
13:txndelay_frame 2
14:txndelay_frame 2
15:txndelay_frame 3
16:txndelay_frame 3
17:txndelay_frame 3
18:txndelay_frame 3
19:txndelay_frame 3
20:txndelay_frame 4
21:txndelay_frame 4
22:txndelay_frame 4
23:txndelay_frame 4
24:txndelay_frame 4
25:txndelay_frame 5
26:txndelay_frame 5
27:txndelay_frame 5
28:txndelay_frame 5
29:txndelay_frame 5
30:txndelay_frame 6
31:txndelay_frame 6

temp_threshold 48
temp_control 1
