detsize 1024 4096
hostname jf16ma-07+jf16ma-08+jf16ma-11+jf16ma-12+jf16ma-15+jf16ma-16+jf16ma-19+jf16ma-20+

#sf-daq-4
#udp_dstmac 9c:dc:71:4d:2a:b4
#udp_dstip 10.30.20.6

#sf-daq-8
udp_dstmac b8:83:03:6e:de:9c
udp_dstip 10.30.20.9

0:udp_dstport 50060
0:udp_srcip 10.30.20.60
0:udp_srcmac cc:cc:cc:dd:ee:f7

1:udp_dstport 50061
1:udp_srcip 10.30.20.61
1:udp_srcmac cc:cc:cc:dd:ee:f8

2:udp_dstport 50062
2:udp_srcip 10.30.20.62
2:udp_srcmac cc:cc:cc:dd:ee:fb

3:udp_dstport 50063
3:udp_srcip 10.30.20.63
3:udp_srcmac cc:cc:cc:dd:ee:fc

4:udp_dstport 50064
4:udp_srcip 10.30.20.64
4:udp_srcmac cc:cc:cc:dd:ee:e0

5:udp_dstport 50065
5:udp_srcip 10.30.20.65
5:udp_srcmac cc:cc:cc:dd:ee:e1

6:udp_dstport 50066
6:udp_srcip 10.30.20.66
6:udp_srcmac cc:cc:cc:dd:ee:e3

7:udp_dstport 50067
7:udp_srcip 10.30.20.67
7:udp_srcmac cc:cc:cc:dd:ee:e4

triggers 1000
frames 1
timing trigger
delay 0.001989

0:txndelay_frame 0
1:txndelay_frame 0
2:txndelay_frame 1
3:txndelay_frame 1
4:txndelay_frame 2
5:txndelay_frame 2
6:txndelay_frame 3
7:txndelay_frame 3

temp_threshold 45
temp_control 1

