detsize 1024 512
hostname JF10T01V01+

#sf-daq-8
udp_dstmac b8:83:03:6e:de:9c
udp_dstip 10.30.20.9

0:udp_dstport 50160
0:udp_srcip   10.30.20.160
0:udp_srcmac  00:aa:bb:10:dd:01

0:txndelay_frame 8

#delay was used at Bernina:
#delay 0.001988
#at Alvra:
delay 0.001989

triggers 1000
timing trigger
frames 1

temp_threshold 55
temp_control 1

