detsize 1024 2048
hostname bchip243+bchip244+bchip245+bchip246+

#sf-daq-7?
#udp_dstip 10.10.2.11
#udp_dstmac b8:83:03:78:ee:c0

#sf-daq-4
#udp_dstmac 9c:dc:71:4d:2a:b4
#udp_dstip 10.30.20.6

#sf-daq-8
udp_dstmac b8:83:03:6e:de:9c
udp_dstip 10.30.20.9

0:udp_dstport 50170
0:udp_srcip 10.30.20.170
0:udp_srcmac 00:aa:bb:11:dd:00

1:udp_dstport 50171
1:udp_srcip 10.30.20.171
1:udp_srcmac 00:aa:bb:11:dd:01

2:udp_dstport 50172
2:udp_srcip 10.30.20.172
2:udp_srcmac 00:aa:bb:11:dd:02

3:udp_dstport 50173
3:udp_srcip 10.30.20.173
3:udp_srcmac 00:aa:bb:11:dd:03

0:txndelay_frame 0
1:txndelay_frame 1
2:txndelay_frame 2
3:txndelay_frame 3

delay 0.001989

triggers 1000
timing trigger
frames 1

temp_threshold 55
temp_control 1

