hostname bchip243+bchip244+bchip245+bchip246+

detsizechan 1024 2048

rx_udpip 10.10.2.11
rx_udpmac b8:83:03:78:ee:c0

0:rx_udpport 50170
0:detectorip 10.10.2.140
0:detectormac 00:aa:bb:11:dd:00
0:txndelay_frame 0
0:configuremac 0

1:rx_udpport 50171
1:detectorip 10.10.2.141
1:detectormac 00:aa:bb:11:dd:01
1:txndelay_frame 1
1:configuremac 0

2:rx_udpport 50172
2:detectorip 10.10.2.142
2:detectormac 00:aa:bb:11:dd:02
2:txndelay_frame 2
2:configuremac 0

3:rx_udpport 50173
3:detectorip 10.10.2.143
3:detectormac 00:aa:bb:11:dd:03
3:txndelay_frame 3
3:configuremac 0

#delay was used at Bernina:
#delay 0.001988
#at Alvra:
delay 0.001989

timing trigger
frames 1
cycles 1000
powerchip 1
#vhighvoltage 200

temp_threshold 55
temp_control 1

