hostname JF13T01+

detsizechan 1024 512

rx_udpmac 98:f2:b3:d4:5f:d0
rx_udpip 10.30.10.7

0:rx_udpport 50190
0:detectorip 10.30.10.170
0:detectormac 00:aa:bb:13:dd:00
0:configuremac 0

0:txndelay_frame 4

delay 0.001990

timing trigger
frames 1
cycles 1000
powerchip 1
vhighvoltage 120

temp_threshold 55
temp_control 1



