detsize 1024 4096
hostname JF4MG-0+JF4MG-1+JF4MG-2+JF4MG-3+JF4MG-4+JF4MG-5+JF4MG-6+JF4MG-7+

#------------------------------
#JF1.1 specific part:
setbit 0x5d 7 

powerchip 1

setbit 0x58 30
clearbit 0x58 30

reg 0x7f 0xff1f
reg 0x59 0x1110

reg 0x58 0x10800f
setbit 0x58 31
clearbit 0x58 31
#----------------------------

udp_dstmac 04:09:73:e1:cf:a0
udp_dstip  10.40.50.9

0:udp_dstport 50192
0:udp_srcip   10.40.50.172
0:udp_srcmac  00:aa:bb:15:dd:00

1:udp_dstport 50193
1:udp_srcip   10.40.50.173
1:udp_srcmac  00:aa:bb:15:dd:01

2:udp_dstport 50194
2:udp_srcip   10.40.50.174
2:udp_srcmac  00:aa:bb:15:dd:02

3:udp_dstport 50195
3:udp_srcip   10.40.50.175
3:udp_srcmac  00:aa:bb:15:dd:03

4:udp_dstport 50196
4:udp_srcip   10.40.50.176
4:udp_srcmac  00:aa:bb:15:dd:04

5:udp_dstport 50197
5:udp_srcip   10.40.50.177
5:udp_srcmac  00:aa:bb:15:dd:05

6:udp_dstport 50198
6:udp_srcip   10.40.50.178
6:udp_srcmac  00:aa:bb:15:dd:06

7:udp_dstport 50199
7:udp_srcip   10.40.50.179
7:udp_srcmac  00:aa:bb:15:dd:07

0:txndelay_frame 0
1:txndelay_frame 0
2:txndelay_frame 1
3:txndelay_frame 1
4:txndelay_frame 2
5:txndelay_frame 2
6:txndelay_frame 3
7:txndelay_frame 3

delay 0.004444

temp_threshold 55
temp_control 1
